@media only screen and (min-width: 1281px) {
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
	.logo {
 	max-width: 200px;
	}
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
	.color01 {
	font-size: 35px;
	text-align: center;
	margin-left: auto;
	}
	.logo {
 	max-width: 200px;
	}
}
@media only screen and (min-width: 1px) and (max-width: 480px) {
	.color01 {
	font-size: 35px;
	text-align: center;
	margin-left: auto;
	}
}

