*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-variant: normal;
}
body {
    background-color: $background-color-third;
    color: $background-color-second;
    font-family: Raleway;
}
a:hover {
    color: $background-color-fourth;
    text-decoration: none;
}
/* reset bootstrap*/
.navbar-default {
    background-color: $background-color-fifth;
    @include style-border();
}
.navbar-brand {
    height: 45px;
    padding: 0px;
}
.navbar-toggle {
    margin-top: 10px;
}
/*.navbar-nav>li>a {
    line-height: 37px;
}*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: $background-color-third;
    color: $background-color-second;
    height: 45px;
}
.dropdown-menu {
    background-color: $background-color-third;
    font-size: $font-size-main;
}
.dropdown-menu>li>a {
    color: $background-color-second;
    font-variant: bold;
}
.dropdown-menu>li>a:hover {
    color: $background-color-third;
}
.row-nav {
    height: 45px;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: $background-color-second;
        font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-text {
    color: $background-color-third;
}
/* reset bootstrap */
/* carousel */
.slider {
    margin-top: -10px;
}
/* carousel */
.color01 {
    color: $background-color-second;
    font-weight: bold;
    font-size: $font-size-second;
}
.margincolor {
    margin-bottom: 50px;
}
.mar {
    margin-left: 30px;
    margin-top:5px;
}
.slogan {
    //font-family: 'Pacifico', cursive;
    margin-top:20px;
    font-family: 'Grand Hotel', cursive;
    color: $background-color-second;
    font-size: $font-size-media;
}
.principal {
    height: 500px;
    width: 100%;
    background-color: $background-color-third;
}
.intro {
    text-align: left;
}
#sliderbg {
    background-image: url(../img/collage.gif);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    color: $background-color-third;
}
#segunda {
    padding-top: 20px;
    background-image: url(../img/landing.png);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    /*background-attachment: fixed;*/
    color: $background-color-second;
}
#tercera {
    margin-bottom: 100px;
}
.img {
    max-width: 250px;
    padding-top: 50px;
    margin-top: 10px;
}
.logo {
    max-width: auto;
    margin-top: 10px;
}
.redes {
    width: 50%;
    height: auto;
    padding-top: 20px;
    text-align: center;
}
.icono {
    color: $background-color-fourth;
    margin: 7px;
}
.icono-disabled {
    color: $background-color-fourth;
    opacity: 50%;
    margin: 7px;
}
.icono:hover {
    color: $background-color-second;
    margin: 7px;
}
.footer {
    background-image: url(../img/border2.png);
    color: $background-color-second;
    background-repeat: repeat-x;
    width: 100%;
    height: 50px;
}
.footer a {
    color: $background-color-second;
}
/*contacto*/
.mensaje {
    margin-bottom:15px;
}
.contacto {
    margin-bottom:15px;
}
.contact-form {
    margin-top:15px;
}
.contact-form .textarea {
    min-height:120px;
    resize:none;
}
.form-control {
    box-shadow:none;
    border-color:$background-color-third;
    height:49px;
}
.form-control:focus {
    box-shadow:none;
    border-color:$background-color-fourth;
}
.form-control-feedback {
    line-height:50px;
}
.main-btn{
    background:$background-color-fourth;
    border-color:$background-color-fourth;
    color:$background-color-second;
    margin-top: 100px;
}
.main-btn:hover {
    background:$background-color-fourth;
    color:$background-color-second;
}
.form-control-feedback {
line-height: 50px;
top: 0px;
}