$background-color-main: #c6cacf;
$background-color-second: white;
$background-color-third: #f7ede6;
$background-color-fourth: #cb0b48;
$background-color-fifth: black;
$font-size-main: 12px;
$font-size-second: 30px;
$font-size-third: 24px;
$font-size-media: 36px;